{% extends 'base.html.twig' %}

{% block title %}Ajouter un inventaire{% endblock %}

{% block body %}
<div class="p-5 border rounded bg-light m-5">
    <div class="mb-3 text-center">
        <h1 style="font-weight: 500;">Ajouter un inventaire</h1>
    </div>

    {{ form_start(addInvForm) }}
    {{ form_widget(addInvForm) }}
    <div class="modal-footer px-0">
        <button type="submit" class="btn btn-primary" style="font-size: 16px;">Enregistrer</button>
    </div>
    {{ form_end(addInvForm) }}
</div>
{% endblock %}
