<html>
    <head>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/3.3.3/adapter.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
<script type="text/javascript" src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="container">
            <div class="row px-3">
                <div class="col-12">
                    <center class="my-5">
                        <h1 style="color: red; margin: 50px; font-size: 60px" class="titre">Ajouter un produit</h1>
                    </center>
                    <div class="text-center">
                    <a class="retour" href="#" onclick="GoBackWithRefresh();return false;">
                        <button style="width: 400px; height: 60px; margin 100px; font-size: 30px" class= " vp btn btn-primary btn-lg">Voir les produits</button>
                    </a>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="m-5 scan" style="border: black solid 5px;">
            <video class="border border-dark rounded" id="preview" width="100%"></video>
        </div>
     
        

        <script>
        function GoBackWithRefresh(event) {
            if ('referrer' in document) {
                window.location = document.referrer;
                /* OR */
                //location.replace(document.referrer);
            } else {
                window.history.back();
            }
        }
           function bip() {
               var bip= new Audio();
                   bip.src="/song/bip.wav";
                   bip.play();
           }
           navigator.mediaDevices.getUserMedia({video: true}) 
           let scanner = new Instascan.Scanner({ video: document.getElementById('preview')});
           Instascan.Camera.getCameras().then(function(cameras){
               if(cameras.length > 0 ){
                   scanner.start(cameras[cameras.length - 1]);
               } else{
                   alert('No cameras found');
               }

           }).catch(function(e) {
               console.error(e);
           });

           scanner.addListener('scan',function(c){
               bip();
               var urlcourante = document.location.href;
               $.getJSON(urlcourante+c, function (response){
                   console.log(response.data)
               })

               
           });
        
        </script>
    </body>
</html>