a {
    text-decoration: none !important;
    color: #000 !important;
}

a:hover {
    color: #007bff !important;
}

.btnmdsup {
    box-shadow: none ! important;
    outline: none ! important;
    font-size: 18px ! important;
}

.btnmdsup:hover {
    color: #007bff ! important;
}

.delete:hover {
    color: red !important;
}

.titre {
    font-size: 70px ! important;
    margin-top: 20px;
    margin-bottom: 20px;
}

.scan {
    border: black solid 5px;
}

.vp {
    margin: 20px;
}